
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="row">
    <p>Ce site est une démo montrant l'utilisation du Html5 AppCache pour rendre un site web accessible hors ligne.</p>
    <p>Ce site affiche les 10 derniers articles publiés sur <a href="https://blogs.msdn.microsoft.com/dotnet/" target="_blank">.NET Blog</a></p>
</div>